<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.jsch.core.identityrepository">
      <identityrepository>
         <run
               class="com.jcraft.jsch.agentproxy.eclipse.sshagent.junixsocket.IdentityRepositoryFactory">
         </run>
      </identityrepository>
   </extension>

</plugin>
